/**
 * Secret values. DO NOT PUSH TO GITHUB.
 * @constant
 * @readonly
 * @global
 */
var SECRET_OPTS = {
  /** Slack API pieces */
  SLACK: {
    /** 
     * Webhooks linked to specific usfsoar Slack channels. These are secret
     * because they allow anyone to post to the channels without authorization.
     */
    WEBHOOKS: {
      PURCHASING: 'YOUR_VALUE_HERE',
      RECIEVING: 'YOUR_VALUE_HERE'
    },
  }
}